{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "classes": true
    }
  },
  "ecmaFeatures": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "classes": true
  },
   "globals": {
    "browser": true,
    "expect": true
  },
  "env": {
    "es6": true
  },
  "plugins": [
    "import"
  ]
}